In [6]:
from yahooquery import Ticker
import pandas as pd

In [7]:
aapl = Ticker('aapl')
googl = Ticker('googl')
tickers = [aapl, googl]

In [15]:
aapl.balance_sheet()

            maxAge     endDate         cash  shortTermInvestments  \
symbol row
aapl   0         1  2019-09-28  48844000000           51713000000
       1         1  2018-09-29  25913000000           40388000000
       2         1  2017-09-30  20289000000           53892000000
       3         1  2016-09-24  20484000000           46671000000

            netReceivables   inventory  otherCurrentAssets  \
symbol row
aapl   0       45804000000  4106000000         12352000000
       1       48995000000  3956000000         12087000000
       2       35673000000  4855000000         13936000000
       3       29299000000  2132000000          8283000000

            totalCurrentAssets  longTermInvestments  propertyPlantEquipment  \
symbol row
aapl   0          162819000000         105341000000             37378000000
       1          131339000000         170799000000             41304000000
       2          128645000000         194714000000             33783000000
       3          106869000000         170430000000             27010000000

            ...  totalCurrentLiabilities     totalLiab  commonStock  \
symbol row  ...
aapl   0    ...             105718000000  248028000000  45174000000
       1    ...             115929000000  258578000000  40201000000
       2    ...             100814000000  241272000000  35867000000
       3    ...              79006000000  193437000000  31251000000

            retainedEarnings  treasuryStock  otherStockholderEquity  \
symbol row
aapl   0         45898000000     -584000000              -584000000
       1         70400000000    -3454000000             -3454000000
       2         98330000000     -150000000              -150000000
       3         96364000000      634000000               634000000

            totalStockholderEquity  netTangibleAssets      goodWill  \
symbol row
aapl   0               90488000000        90488000000           NaN
       1              107147000000       107147000000           NaN
       2              134047000000       134047000000           NaN
       3              128249000000       119629000000  5.414000e+09

            intangibleAssets
symbol row
aapl   0                 NaN
       1                 NaN
       2                 NaN
       3        3.206000e+09

[4 rows x 27 columns]